<div class="cart-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a >
                <img src="https://cdn1.iconfinder.com/data/icons/e-commerce-150/32/ecommerce2_6-1024.png" alt="">
                <h6>All Products</h6>
            </a>
        </div>

        <div class="item">
            <a>
                <img src="https://cdn-icons-png.flaticon.com/512/190/190507.png?w=740&t=st=1659578928~exp=1659579528~hmac=dd69ebd5246974d05b717f97ded4d354a181490d9afa74f2386cb75f962dbc1e" alt="">
                <h6>Smart Phone</h6>
            </a>
        </div>

        <div class="item">
        </div>

        <div class="item">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="" alt="">
                <h5></h5>
                <p></p>
                <p></p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>
